<div class="container-fluid">
  <h1> Angular Form Array Example</h1>
  <form class="form" [formGroup]="form">
    <div class="container">
      <div formArrayName="emails">
        <div *ngFor="let email of emails.controls;let i=index" >
          <div [formGroupName]="i">
            <input type="textbox" formControlName="email" /> 
            <button (click)="removeEmail(i)">remove email</button>
            <div style="color:red;" *ngIf="!email.valid">
                Invalid Email
            </div>
            <code>valid:{{email.valid}}
            </code>
          </div>
        </div>
      </div>

    </div>
  </form>
        <div>
        <button (click)="addEmail()">Add new email</button>

      </div>
  <br/>
  <br/>
  <br/>
  <div class="container">
   <code> {{this.form.getRawValue() | json}}</code>
  </div>
</div>